@CHARSET "ISO-8859-1";

body{
     background:url(../imagens/background.jpg); /*inserção da imagem de fundo em todo o site*/
     color:#868686; /*cor padrão para todas as fontes*/
     font-family: "Open Sans", Helvetica, sans-serif, arial; /*definição da fonte geral incorporada do Google Fonts*/
     font-size: 1.125em; /* 18px ÷ 16px = 1.125em */; /*tamanho da fonte*/
     font-weight: 300; /*indica que a fonte está coonfigurada como Open Sans Light*/
     line-height: 22px;/*altura da linha*/
     text-align: left; /*alinhando o texto à esquerda*/
     text-shadow:1px 1px 0px #fff; /*sombreamento para as fontes do site*/
}
.center{
     margin: 0 auto; /*centralizando o conteúdo no navegador*/
     max-width: 1200px;
     width: 100%; /*largura do layout*/        
}

/*.clearfix usado para adicionar um espaço vazio antes e depois dos elementos
  evitando que os floats se aglomerem.
*/
.clearfix:before, .clearfix:after {
    content: " "; 
    display: table; 
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}
/*fim do clearfix*/
img, picture, video, embed {
    max-width: 100%; /*define a largura máxima em até 100%*/
}
 h1, h2{
     color:#868686;
     font-size: 55px;
     font-weight: 800;
     letter-spacing: 0px; espaçamento entre as letras
     line-height: 60px;
     padding-top: 0;
}
h3{ 
     font-size: 32px;
     font-weight: 300;
     letter-spacing: -2px; /*espaçamento entre as letras*/
     line-height: 38px;
}
p{
     font-weight: 300;/*modifica a força da fonte para light*/
     letter-spacing: -1px; /*espaçamento entre as letras*/
}
a, a:link, a:visited{
     color:#FE9380; /*cor dos links*/
     font-weight:400; /*modifica a força da fonte para semi-bold*/
     text-decoration:none; /*retira o sublinhado dos links*/
}
a:hover{
     color:#FE5E41;
     text-decoration:underline; /*inseri uma linha sob o link*/
     text-shadow:none; /*retira a sombra da fonte*/
}

header{
     border-bottom: 1px solid #E0E0E0; /*borda na base da seção*/
     height:10%;
     width:100%; /*largura do topo*/
}
/*
=========================
logotipo
=========================
*/
 #containerHeader {
 	background:url(../imagens/marcaInf.png) no-repeat ; /*inserção da imagem de fundo em todo o site */
    width: 100%;
    height: 15%;
  
}

.box {
    display: inline-block;
   /*  margin: 10px 20px; */
}
#box-1 { width: 20%; height: 15%; }
#box-2 { width: 44%;height: 20%; }
#box-3 { width: 35%;height: 20%; float: right; }

/*  
Classe container divs que ocupam 100% da tela para agrupar outros componentes dentro dela
*/
 #container {
  display: table; 
   padding:2.5%; /* 30px ÷ 1200px = 0.025 x 100 = 2.5%*/
   width:100%; /* 1200px ÷ 1200px = 1 x 100 = 100%*/
  }
  
  /*
=========================
nav - menu de navegação
=========================
*/
.nav{
     float:right; /*posiciona menu à direita*/
     order: 1;
     text-align:right; /*alinha os links à direita*/
     /* width:490px; */
}
nav ul{
     list-style-type:none; /*retira os marcadores da lista*/
     text-align: right;
}
     nav li {
          display: inline; /*deixa o menu na horizontal*/
     }
         /*  .menu li a{
               margin-right: 30px; espaço à direita de cada link do menu
          } */
          
         	 nav li a[href$="index.jsp"]:before {
  				content: url("../imagens/ic_home_1x.png");
  				
			}
			nav li a[href$="usuario"]:before {
  				content: url("../imagens/ic_account_1x.png");
  				
			}
			nav li a[href$="sair"]:before {
  				content: url("../imagens/ic_sair_1x.png");
  				margin-right:0px;
  				
			}
          nav ul li:nth-child(3) a{
               margin-right:0px; /*indica que o 3º elemento da lista (contato) terá a margem direita zerada*/
          }
          nav ul li:nth-child(4) a{
               margin-right:0px; /*indica que o 4º elemento da lista (contato) terá a margem direita zerada*/
          }
nav a:link, nav a:visited{
     color:#999;
     font-size:1em; /* 18px ÷ 16px = 1.125em */;
     font-weight: 300;
     letter-spacing: 0px; /*espaçamento entre as letras*/
     line-height: 26px;
     display:inline-block;
}
nav a.ativo:link, nav a:hover{
     color:#FE9380; /*indica a página ativa e o link:hover*/
}
.spanUser{
	color:#868686;
     font-size:1em; /* 18px ÷ 16px = 1.125em */;
     font-weight: 300;
     letter-spacing: 0px; espaçamento entre as letras
     line-height: 60px;
}
/*
=========================
div divisoria
=========================
*/
 .hrDivisoria {
      width: 100%;
      float: right;
    }
    
    
 /*----------------------------------------------------------
Seção FOOTER - Rodape com 2 colunas <<<<<===================
----------------------------------------------------------*/
#footer{
   margin: auto;
	width: 100%;
	bottom: 0;
	position: fixed;
}
.inf{
     float:center;
     margin-left:10%;
}
.desenvolvedor{
     float:right;
}
.desenvolvedor figure{
     width:20%;
}

/*  
================================================
Media queries responsividade
================================================

*/
 /* 
1200px – Desktops, notebooks com monitores widescreen
***********************************************************/
@media screen and (max-width:1200px){
      
}
/* 
960px – Tablets no formato paisagem e alguns monitores mais antigos
***********************************************************/
@media screen and (max-width:960px){
      
}
/* 
768px – Tablets no formato retrato, como o iPad
***********************************************************/
@media screen and (max-width:768px){
      
}
/* 
480px – Smartphones no formato paisagem com tela pequena
***********************************************************/
@media screen and (max-width:480px){
      
}
/* 
320px – Smartphones no formato retrato com tela pequena
***********************************************************/
@media screen and (max-width:320px){
      
}

/* 
============================================================
formatação de itens do formulário
============================================================
 */
 
form label {
    width:12%;
    margin-top: 3px;
    display:inline-block;
    float:left;
    padding:1px;
    text-align: right;
}
form input {
    height:20px; 
    width:55%; 
    padding:5px 8px;
}
form textarea {padding:8px; width:55%;}
 
form input, form textarea { 
    border:1px solid #aaa;
    box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
    border-radius:5px;
}
form input:focus, form textarea:focus {
    background: #fff; 
    border:1px solid #555; 
    box-shadow: 0 0 3px #aaa; 
}
/* Button Style */
button.submit {
	width:10%;
    background-color: #68b12f;
    background: -webkit-gradient(linear, left top, left bottom, from(#68b12f), to(#50911e));
    background: -webkit-linear-gradient(top, #68b12f, #50911e);
    background: -moz-linear-gradient(top, #68b12f, #50911e);
    background: -ms-linear-gradient(top, #68b12f, #50911e);
    background: -o-linear-gradient(top, #68b12f, #50911e);
    background: linear-gradient(top, #68b12f, #50911e);
    border: 1px solid #509111;
    border-bottom: 1px solid #5b992b;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    box-shadow: inset 0 1px 0 0 #9fd574;
    -webkit-box-shadow: 0 1px 0 0 #9fd574 inset ;
    -moz-box-shadow: 0 1px 0 0 #9fd574 inset;
    -ms-box-shadow: 0 1px 0 0 #9fd574 inset;
    -o-box-shadow: 0 1px 0 0 #9fd574 inset;
    color: white;
    font-weight: bold;
    padding: 5px 8px;
    text-align: center;
    text-shadow: 0 -1px 0 #396715;
}
button.reset {
	width:10%;
    background-color: #DF0101;
    background: -webkit-gradient(linear, left top, left bottom, from( #DF0101 ), to(#dd2844));
    background: -webkit-linear-gradient(top, #DF0101, #dd2844);
    background: -moz-linear-gradient(top, #DF0101, #dd2844);
    background: -ms-linear-gradient(top, #DF0101, #dd2844);
    background: -o-linear-gradient(top, #DF0101, #dd2844);
    background: linear-gradient(top, #DF0101, #dd2844);
    border: 1px solid #a03248;
    border-bottom: 1px solid #a03248;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    box-shadow: inset 0 1px 0 0 #f06715;
    -webkit-box-shadow: 0 1px 0 0 #f06715 inset ;
    -moz-box-shadow: 0 1px 0 0 #f06715 inset;
    -ms-box-shadow: 0 1px 0 0 #f06715 inset;
    -o-box-shadow: 0 1px 0 0 #f06715 inset;
    color: white;
    font-weight: bold;
    padding: 5px 8px;
    text-align: center;
    text-shadow: 0 -1px 0 #396715;
}
button.button {
	width:10%;
    background-color: #0080ff;
    background: -webkit-gradient(linear, left top, left bottom, from( #0080ff ), to(#0080c0));
    background: -webkit-linear-gradient(top, #0080ff, #0080c0);
    background: -moz-linear-gradient(top, #0080ff, #0080c0);
    background: -ms-linear-gradient(top, #0080ff, #0080c0);
    background: -o-linear-gradient(top, #0080ff, #0080c0);
    background: linear-gradient(top, #0080ff, #0080c0);
    border: 1px solid #0b0fb9;
    border-bottom: 1px solid #0b0fb9;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    box-shadow: inset 0 1px 0 0 #374ddf;
    -webkit-box-shadow: 0 1px 0 0 #374ddf inset ;
    -moz-box-shadow: 0 1px 0 0 #374ddf inset;
    -ms-box-shadow: 0 1px 0 0 #374ddf inset;
    -o-box-shadow: 0 1px 0 0 #374ddf inset;
    color: white;
    font-weight: bold;
    padding: 5px 8px;
    text-align: center;
    text-shadow: 0 -1px 0 #396715;
}
button.submit:hover {
    opacity:.85;
    cursor: pointer; 
}
button.reset:hover {
    opacity:.85;
    cursor: pointer; 
}
button.button:hover {
    opacity:.85;
    cursor: pointer; 
}
button.submit:active {
    border: 1px solid #20911e;
    box-shadow: 0 0 10px 5px #356b0b inset; 
    -webkit-box-shadow:0 0 10px 5px #356b0b inset ;
    -moz-box-shadow: 0 0 10px 5px #356b0b inset;
    -ms-box-shadow: 0 0 10px 5px #356b0b inset;
    -o-box-shadow: 0 0 10px 5px #356b0b inset;
     
}
input.date{
	 height:20px; 
    width:10%; 
    padding:5px 8px;
    border:1px solid #aaa;
    box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
    border-radius:5px;
}